// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr span.artist {
  font-weight: bold;
  font-weight: 600;
}

td.number {
  text-align: right;
}

thead .helper {
  font-weight: normal;
}

tbody a:hover {
  background: transparent;
}

.playlist-sort, .playlist-filter {
  display: inline;
}
.playlist-filter {
  margin-left: 1em;
  .radio.inline, .checkbox.inline {
    padding-top: 0;
  }
}

@media only screen and (max-width: 767px) {

  .playlist-sort, .playlist-filter {
    display: block;
    margin-left: 0;
  }
  .playlist-filter .helper {
    display: none;
  }

}

@media only screen and (min-width: 768px) {

	th.actions {
		min-width: 120px;
	}

}

// a.label, a.label :visited {
//  background-color: #BFBFBF;
//}
//a.label.success, a.label.warning, a.label.important, a.label.notice {
//  color: white;
//}